<form name="myForm" style="border:1px solid #ccc">
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
    <label for="email"><b>Username</b></label>
    <input type="text" placeholder="Enter Email" [(ngModel)]="username" name="username" required>

    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" [(ngModel)]="email" name="email" #emailref required>

    <label for="psw"><b>Password</b></label>

    <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="password" required minlength="8"
      #pass="ngModel">

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" [(ngModel)]="repeatPassword" name="repeatPassword" required>


    <div *ngIf="pass.errors?.minlength" style="color:red">
      <p>Minimum 8 characters</p><br>
    </div>

    <div *ngIf="!passwordMatch" style="color:red">
      <p>Password Mismatch</p><br>
    </div>


    <div class="clearfix">
      <button type="submit" class="signupbtn" (click)="signUp()">Sign Up</button>
    </div>
  </div>
</form>
